{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "globals": { 
    "fetch": false,
    "localStorage": false,
    "window": false,
    "document": false
  },
  "rules": {
    "strict": 0,
    "no-underscore-dangle": 0,
    "max-len": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": 0,
    "prefer-arrow-callback": ["error", { "allowUnboundThis": false }]
  }
}
