# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.idea
.DS_Store
*.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## CSS files, we are using SASS
src/**/*.css
src/**/App.css
src/**/styles.css


## PEM files
*.pem

# .env files
*.env
/sql/storewalk_stage.sql
/sql/storewalk_dev.sql
